$background-color1: #FFFFFF;
$background-color2: #000000;
$font-weight: bold;
$font-color1: #FF6B6B;
$font-color2: #000000;
$font-color3: white;
$font-size1: 14px;
$font-size2: 16px;
$font-size3: 18px;
$font-size4: 20px;
$font-family: Montserrat;
@media screen and (max-width: 414px) {
    .headline {
        width: 100%;
        height: 63px;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $background-color2;
        color: $font-color3;
        font-size: $font-size1;
    }
    .happy{
        font-weight: $font-weight;
    }
    .counter{
        width: 100%;
        margin: 2%;
        display: flex;
        justify-content: space-around;
    }
    .headline span{
       color: $font-color1;
    }
    .logo{
        width: 209px;
        height: 27px;
        background: transparent;
        margin: auto;
        margin-top: 5%;
    }
    .head {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: auto;
        width: 100%;
        margin-top: 2%;
    }

    .socjal{
        width: 30%;
        align-items: center;
        display: flex;
        justify-content:space-around;
        margin-left: 10%;
    }
    .zakup{
        width: 70%;
        display: flex;
        height: auto;
        justify-content: space-between;
        align-items: center;
        color: $font-color2;
    }
    .num{
        position: relative;
        bottom: 20px;
        left: 12px;
       background-color:#000000 ;
       border-radius: 50%;
       color: $font-color3;
       text-align: center;
    }
    .zakup img{
        width: 21px;
        padding-right: 10%;
    }
    .zakup span{
        display: none;
    }
    .shop{
        position: relative;
        top: 10px;
    }
    .menu{
        border: none;
    }
    .navigation{
        display: none;
        text-align: center;
    }
    nav li{
        list-style: none;
    }

    #wszystko{
        color: $font-color1;
    }
    .scroll {
        background-color: $background-color2;
        color: $font-color3;
        font-size: $font-size1;
        white-space: normal;
        text-align: center;
        letter-spacing: 2px;
        margin: auto;

    }

    .image-text{
        white-space: nowrap;
        text-align: start;


    }
    #linia{
        white-space: nowrap;
        text-align: center;
        margin: auto;
    }
    .image-text span{
        display: inline-table;
        white-space: normal;
        text-align: center;
    }
    .text {
        width: 70%;
        flex-direction: column;
        white-space: normal;
        height: auto;
        margin: auto;
        object-fit: contain;
      }
    .text span{
        margin: 1%;
    }
    .baner {
        display: flex;
        flex-direction: column;
    }
    .baner .image-container {
        width: 100%;
        position: relative;
    } 
    .baner img {
        width: 100%;
    }
    .button-container {
        position: absolute;
        bottom: 18%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
      
    .button-container button {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #button {
        width: auto;
        background-image: url('fot/Button.svg');
    }
    #button3 {
        width: auto;
        background-image: url('fot/Button-1.svg');
    }
    span{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        font-size: $font-size4;
        white-space: normal;
    }
    .karuzela {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
    }
      
    .karuzela .slide {
        width: auto;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
      }
    
    .slide{
        display: none;
    }
    .slide .active{
        display: block;
    }
    .karuzela img {
        width: 100%;
      }
    .arrow {
        position: relative;
        align-items: center;
      }
      
    .arrow {
        transform: translateY(-50%);
        transform: scaleX(1);
        cursor: pointer;
        align-items: center;
        width: 36px;
    }
      
    .arrow:hover {
        background: url('fot/ARROW.svg');
        transform: scaleX(-1);
    }

    .arrow2 {
      transform: translateY(-50%);
      transform: scaleX(-1);
      cursor: pointer;
      align-items: center;
      width: 36px;
    }
    
    .arrow2:hover {
      background: url('fot/ARROW.svg');
      transform: scaleX(1);

    }
    .baner2 {
        width: 100%;
        overflow: hidden;
      }
      
      .baner2 .image-container {
        position: relative;
      }
      
      .baner2 button {
        width: 50%;
        z-index: 2;
        border: none;
        background: none;
        position: relative;
        top: 30%;
        left: 20%;
      }
      .dowiedz{
        position: relative;
        bottom: 80px;
        left: 50px;
      }
      .dowiedz img{
        object-fit: contain;
        width: 70%;
      }
      
      #baner3 {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        margin-top: 2%;
        z-index: -1;
      }
      .produkty {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: space-between  ;
        align-items:flex-start;
        width: 100%;
        white-space: nowrap;
      }
      
    .karta,
    .karta2 {
        width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
      
    .karta .fot,
    .karta2 .fot {
        position: relative;
    }

    .karta img,
    .karta2 img {
        width: 100%;
        object-fit: contain;
    }
      
    .karta .serce,
    .karta2 .serce {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 34px;
        height: 34px;
        background: #FFFFFF;
        opacity: 0.55;
        border-radius: 50%;
        background-size: 34px 34px;
        align-items: center;    
    }

    .karta .serce.full,
    .karta2 .serce.full{
        background-color: #90A99E;
    }

    .serce img{
        position: relative;
        left: 6px;
        top: 7px;
        width: 22px;
    }
      
    .karta .adnot,
    .karta2 .adnot {
        position: absolute;
        top: 5px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .adnot img{
        margin: 5px;
        height: 13px;
        display: flex;
        justify-content: end;
    }

    .karta .rabat,
    .karta2 .rabat {
        position: absolute;
        bottom: 43px;
        left: 8px;
        font-size: $font-size3;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        letter-spacing: 0.54px;
        padding: 5px 10px;
    }
      
    .karta .dane,
    .karta2 .dane {
        padding: 10px;
        text-align: center;
        white-space: nowrap;
    }
      
    .karta .cena,
    .karta2 .cena {
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .karta .stara-cena,
    .karta2 .stara-cena {
        text-decoration: line-through;
        color: gray;
        margin: 2%;
    }

    .karta .nowa-cena,
    .karta2 .nowa-cena{
        color: #FF0102;
    }
      
    .karta .sex,
    .karta2 .sex{
        width: 20%;
        border: 1px solid black;
        margin: auto;
    }
    .karta .fot::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../fot/ee4afc767cdf713b3209d1b4b93adbeb503db6ea.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .karta2 .fot::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../fot/36a188a71dcf7906d2618abc26378286d040443a.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
      
    .karta:hover .fot::before,
    .karta2:hover .fot::before {
        opacity: 1;
    }
      
    .karta .serce,
    .karta .adnot,
    .karta2 .serce,
    .karta2 .adnot {
        transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    }
            
    .karta:hover .adnot img,
    .karta:hover .serce img
    .karta2:hover .adnot img,
    .karta2:hover .serce img {
        opacity: 1;
    }
    .newsletter {
        width:100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
      }
    .news{
        text-align: center;
        width: 100%;
    }
    .news span{
        color: #0068FF;
        font-size: 77px;
    }
    #news{
        font-size: $font-size3;
        color: $font-color2;
        font-weight: $font-weight
    }
    .input {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #telefon,
    #email{
        width: 80%;
        height: 40px;
        margin: 15px;
        border: 1px solid #0068FF;
    }

    .input .form-input{
        border: 1px solid #0068FF;
        color: #000000;
        padding: 5px;
      }

    .input input[type="text"], .input button {
        margin-top: 5px;
        width: 80%;
        height: 40px;
        border: 1px solid #0068FF;
        background-color: #000000;
        color: $font-color3;
        font-weight: bold;
    }

    .input input.error {
        border-color: red;
      }
    #email:focus::placeholder {
        color: transparent;
    }
      
    #telefon:focus::placeholder {
        color: transparent;
    }

    h5{
        text-align: center;
        font-size: 12;
    }
}